.navbar {
  background-color: #00bbf9;
  padding: 20px 24px;
  margin-bottom: 24px;
}

.navbar ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  color: #007bff;
}
